@import "../../../config/variables.scss";

.movie-box__rating-star {
  margin: $main-spacing;
  width: 25px;
  height: 25px;

  svg {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: map-get($breakpoints, sm)) {
    width: 45px;
    height: 45px;
  }
}
