@import "variables";

h1 {
  font-size: $font-size-extra-large;

  @media screen and (max-width: map-get($breakpoints, sm)) {
    font-size: $font-size-extra-large-mobile;
  }
}

h2 {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  color: $color-primary;
  text-transform: uppercase;

  @media screen and (max-width: map-get($breakpoints, sm)) {
    font-size: $font-size-large-mobile;
  }
}

h1,
h2 {
  margin-bottom: $main-padding * 2;
  color: $color-primary;
}

p {
  font-size: $font-size-normal;
  margin-bottom: $main-padding;

  @media screen and (max-width: map-get($breakpoints, sm)) {
    font-size: $font-size-normal-mobile;
  }
}
