$font-family-primary: "IBM Plex Mono", monospace; // font-weight: 400 / 600

$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-large: 2.5rem;
$font-size-extra-large: 3.5rem;

$font-size-small-mobile: 0.8rem;
$font-size-normal-mobile: 1.2rem;
$font-size-large-mobile: 2rem;
$font-size-extra-large-mobile: 3rem;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600;

$color-primary: #f7df1e;
$color-secondary: #faebd7;
$color-tertiary: black;

$color-bg-light: #222831;
$color-bg-dark: #1a1d24;

$color-active: #363731;

$page-width-max: 1200px;

$main-spacing: 8px;
$mobile-spacing: 4px;

$main-padding: 24px;
$mobile-padding: 16px;

$header-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 1);
$active-item-shadow: 0px 5px 6px -5px rgba(247, 223, 30, 1);

$transition-time: 0.3s;

$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 920px,
  lg: 1200px,
  xl: 1368px
);
